@page "/"
@using MeetupPlanner.Admin.Features.Meetups
@inject MeetupsHttpClient meetupsHttpClient

<PageTitle>Home</PageTitle>

@if (meetups.Length == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>All meetups</h3>
    <ul>
        @foreach (var meetup in meetups)
        {
            <li>@meetup.Title - @meetup.StartUtc.ToString("d")</li>
        }
    </ul>
}


@code {
    private MeetupResponse[] meetups = [];

    protected override async Task OnInitializedAsync()
    {
        //meetups = await meetupsHttpClient.GetAllMeetupsAsync();
    }
}
